force-app/main/default/flows/Create_a_Floow_up_Task_if_Email_OR_Phone_is_missing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>CE01_Unable_To_Create_Task_Record</name>
        <label>CE01: Unable To Create Task Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <formulas>
        <name>fmTaskDescription</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}+&quot; &quot;+&quot;is Blank , Please connect to the Lead&quot;</expression>
    </formulas>
    <formulas>
        <name>fmTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;The Phone OR Email is Blank For&quot;+{!$Record.FirstName}+&quot; &quot;+{!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>fmTodayPlus3</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <interviewLabel>Create a Floow-up Task if Email OR Phone is missing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Floow-up Task if Email OR Phone is missing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CR01_Create_Follow_up_Task</name>
        <label>CR01: Create Follow-up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>CE01_Unable_To_Create_Task_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmTodayPlus3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fmTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fmTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CR01_Create_Follow_up_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
