force-app/main/default/flows/Create_Follow_up_Task_For_InActive_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_That_Prepared_Task_To_Task_List</name>
        <label>Add That Prepared Task To Task List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarTaskRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_The_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Task_Record</name>
        <label>Prepare Task Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarTaskRecord.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Iterate_Over_The_Account.Name} Account is InActive Please Check This </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account is InActive Please Check This If we need to work on this Account OR not</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskRecord.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmTodayPlusThree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskRecord.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_The_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTaskRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_The_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_That_Prepared_Task_To_Task_List</targetReference>
        </connector>
    </assignments>
    <description>1. Prepare The Task Record
2. Add The Prepared Task Record Into The List
3.Insert Those Task Record Into The List</description>
    <environments>Default</environments>
    <formulas>
        <name>fmTodayPlusThree</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <interviewLabel>Create Follow-up Task For InActive Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow-up Task For InActive Account</label>
    <loops>
        <name>Iterate_Over_The_Account</name>
        <label>Iterate Over The Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_InActive_Account_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Task_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Prepare_The_Task_Record_For_The_DML</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_InActive_Account_Record</name>
        <label>Get InActive Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prepare_The_Task_Record_For_The_DML</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>200.0</numberValue>
        </limit>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_InActive_Account_Record</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-07-17</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Prepare_The_Task_Record_For_The_DML</name>
        <label>Prepare The Task Record For The DML</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iterate_Over_The_Account</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Task</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_InActive_Account_Record[$EachItem].OwnerId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>WhatId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_InActive_Account_Record[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Not Started&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Priority</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;High&quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ActivityDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>Today() + 3</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Get_InActive_Account_Record[$EachItem].Name} + &quot;Is InActive Please Take The Neccessary Action &quot;</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subject</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>{!Get_InActive_Account_Record[$EachItem].Name} + &quot;Is InActive Please Take The Neccessary Action &quot;</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>VarTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VarTaskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
